.App {
  text-align: center;
}
body {
  font-family: 'Courier New', Courier, monospace;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.user-panel {
  padding: 30px;
  min-height: 50vh;
}



.one-user {
  box-sizing: border-box;
  width: 100%;
  background: white;
  border:2px solid black;
  border-radius: 10px;
  margin-bottom: 50px;
}

.card-container {
  display: inline-block;
  margin:30px;
  border:1px solid black;
  width:25%;
  background-color: #f9f8f4;
}

.player-image {
  object-fit: contain;
  height:300px;
  width: 250px;
}

.user-name {
  padding-left: 50px;
  text-align: left;
}


.player-data-container {
  padding: 0 30px;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 600;
}

.player-data-name {
  font-size: 20px;
  font-weight: 600;
  padding: 15px 30px 0;
  text-align: left;
  margin-bottom: 10px;
}

.react-json-view {
  right: 0;
  font-family: monospace;
  cursor: default;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  text-align: left;
  width: 20%;
  /* left: 0; */
  top: 0;
  height: 100vh;
  overflow: scroll;
}